<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Yet another awesome RSS reader</title>
</head>
<body>
<div>
    <form>
        <label for="rss-feed-link">Add new RSS feed</label>
        <input id="rss-feed-link" type="url" placeholder="RSS feed link" required>
        <button type="submit">Add</button>
    </form>
</div>

<div>
    News list:
    <div>
        Habrabr:
        <ul>
            <li>
                first new
            </li>
            <li>
                snd new
            </li>
        </ul>
    </div>
    <div>
        Another source
        <ul>
            <li>
                Only one new
            </li>
        </ul>
    </div>
</div>
</body>
</html>